rect.bordered {
    /*stroke: #E6E6E6;*/
    stroke: #fff;
    stroke-width:1px;   
}

text.mono {
    font-size: 9pt;
    font-family: Helvetica. sans-serif;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}

.heatmap {
    width: 900px;
    margin: auto;
    display: block;
}

.cellcount {
    /*fill: #555;*/
    font-size: .85em;
    font-family: Courier, monospace;
    font-style: bold;
}

.heatmapbuttons {
    margin: auto;
}

.heatmaplegend {
    text-align: center;
}

.heatmaplegendline {
    padding: 5px;
    font: .75em Helvetica, sans-serif;
}

.heatmapbuttons {
    width: 875px;
    margin: auto;
}

.gatewaypicker {
    padding-bottom: 1em;
}

.gametypepicker {
    line-height: 2em;
    font: .8em;
}


input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    cursor: pointer;
    padding: 4px;
    border: 1px solid #ccc;
    background: #efefef;
    color: #aaa;
    text-shadow: 1px 1px 0 rgba(0,0,0,0);
}

input[type="radio"]:checked + label {
    background: #777;
    border: 1px solid #444;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    color: white;
}