body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
}

a {
  color: #0376d9;
  text-decoration: none;
}

#container {
  flex-direction: column;
  height: 100%;
}

#tabs {
  margin-top: 10px;
  display:flex;
}

#charts {
  flex: 1;
}

#chart {
  height: 95%;
}

.tab {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 8px;
    transition: 0.3s;
}

.tab a:hover {
    background-color: #ddd;
}

.active {
    background-color: #bbb;
}

.statslegend {
    width: 60%;
    margin: 20px auto 20px auto;
}

.statslegendline {
  margin-bottom: 12px;
  font: .8em "Helvetica Neue", Helvetica, sans-serif;
}

.aboutbox {
  border-radius: 100px;
  overflow: hidden;
  padding: 100px;
  margin: 10px auto 10px auto;
  display: table;
  table-layout: fixed;
  width: 60%;
}

.aboutboxheader { /* title bar thickness */
  background-color: #30a724;
  color: #fff;
  font-weight: normal;
  height: 2em;
  position: relative;
}

.aboutboxtitle { /* title bar text */
  position: absolute;
  left: 0.75rem;
  top: 0;
  bottom: 0;
  font: 100 1em/2em Helvetica, sans-serif;
  width: 100%; /* width of searchbox */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
  text-align: center;
}

.aboutline {
  font: .8em "Helvetica Neue", Helvetica, sans-serif;
}