body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
}

#container {
  flex-direction: column;
  height: 100%;
}

#tabs {
  margin-top: 10px;
  display:flex;
}

#charts {
  flex: 1;
}

#chart {
  height: 100%;
}

.tab {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab a:hover {
    background-color: #ddd;
}

.tab a.active {
    background-color: #ccc;
}
